{
  "env": {
    "development": {
      "presets": [["@babel/preset-env", {"modules": "commonjs"}]],
      "plugins": [
        "add-module-exports",
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [["@babel/preset-env", {"modules": "commonjs"}]],
      "plugins": [
        "add-module-exports",
        "transform-class-properties"
      ]
    },
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
